@model ComputerStoreFinal.ViewModels.ShoppingCartViewModel
@{
    ViewBag.Title = "Shopping Cart";
}

<style>
    table {border: 1px black solid ; width: 100%;}
    th{background-color:black; color:white; }
    td,th{padding:5px; text-align:right; }
</style>

<h3><em>Review</em> your cart:</h3>

<div id="update-message"></div>
<div class="row">
    <div class="col-md-11">
        <table>
            <tr>
                <th style="text-align:left;">Part Name</th>
                <th>Price (each)</th>
                <th>Quantity</th>
                <th></th>
            </tr>
            @foreach (var item in Model.CartItems)
            {
                <tr id="row-@item.RecordID">
                    <td style="text-align:left;">
                        @Html.ActionLink(item.Part.PartName, "Details", "Store", new { id = item.Part.PartID }, null)
                    </td>
                    <td>@item.Part.PartPrice</td>
                    <td id="item-count-@item.RecordID">@item.Count</td>
                    <td>
                        <a href="#" class="RemoveLink"
                           data-id="@item.RecordID">Remove from cart</a>
                    </td>
                </tr>
            }
            <tr style="font-weight:bold;border-top:1px #999 solid;">
                <td colspan="3" style="text-align:left;">Total</td>
                <td id="cart-total">@Model.CartTotal</td>
            </tr>
        </table>
    </div>
</div>
<br />

<div class="row">
    <div class="col-md-11">
        <a href="@Url.Action("AddressAndPayment","CheckOut")"
           class="btn btn-info btn-md pull-right" role="button">
            Checkout  >>
        </a>
    </div>    
</div><br />
<div class="row">
    <div class="col-md-11">

        <a href="@Url.Action("Index","Store")"
           class="btn btn-info btn-sm pull-right" role="button">
            Continue Shopping >>
        </a>
    </div>
</div>
@section  Scripts
{
    <script type="text/javascript">
   $(function()  {
//  Document.ready  -­‐>  link  up  remove  event  handler
       $(".RemoveLink").click(function()  {
//  Get  the  id  from  the  link
var recordToDelete  =  $(this).attr("data-­‐id");
if(recordToDelete  !=  '')  {
//  Perform  the  ajax  post
$.post("@Url.Action("RemoveFromCart",  "ShoppingCart")",
{"id":  recordToDelete  },
function
 (data)  {
//  Successful  requests  get  here-­‐  Update  the  page  elements
if(data.ItemCount  ==  0)  {
$('#row-­‐'+  data.DeleteID).fadeOut('slow');
                           }
else
 {
 $('#item-­‐count-­‐'+  data.DeleteID).text(data.ItemCount);
 }
$('#cart-­‐total').text(data.CartTotal);
$('#update-­‐message').text(data.Message);
$('#cart-­‐status').text('Cart  ('+  data.CartCount  +  ')');
                   });
               }
           });
   });
    </script>
}
